# Blacklist everything:
*

# Now whitelist the specific files we want:
!check_config.rb
!check_latest_errata.rb
!default_config.json
!debRelease.rb
!downloader.rb
!errata_parser.rb
!Gemfile
!Gemfile.lock
!gen_errata.rb
!lib/
!parse_dsalist.rb
!.rubocop_todo.yml
!.rubocop.yml
!test
