# m h  dom mon dow   command
0 4,16 * * * mkdir "/var/spool/errata_parser" 2>&1 >/dev/null; docker run --rm --mount type=bind,source=/var/spool/errata_parser,target=/errata --mount source=temp,target=/tmp/errata_parser errata-generator:master
